---
import Layout from "../../layouts/Layout.astro";

export const frontmatter = {
  title: "Tools",
};

const TOOLS_LIST = [
  {
    title: "Paraphrasing tool",
    text: "Generate new content based on existent.",
    link: "/tools/paraphrasing-tool/",
  },
  {
    title: "Letter writer",
    text: "Craft compelling letters from existing templates.",
    link: "/tools/letter-writer/",
  },
  {
    title: "Grammar checker",
    text: "Craft compelling letters from existing templates.",
    link: "/tools/grammar-checker/",
  },
];
---

<Layout title="AI Tools">
  <main class="py-8 lg:py-20">
    <article class="container">
      <header>
        <h1
          class="text-gray-900 font-semibold text-4xl lg:text-5xl lg:leading-[1.1] mb-4 max-w-[25ch]"
        >
          GPT writing tools
        </h1>
        <p class="max-w-[65ch] text-lg lg:text-xl leading-8 mb-8 md:mb-12">
          Use chatGPT to create, rewrite and transform your content.
        </p>
      </header>
      <div>
        <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 auto-rows-fr">
          {
            TOOLS_LIST.map((tool) => (
              <li class="border hover:border-gray-300 rounded-md">
                <article class="h-full">
                  <a
                    href={tool.link}
                    class="h-full block text-gray-900 p-6 lg:p-8"
                  >
                    <h2 class="font-bold text-xl">{tool.title}</h2>
                    <p class="text-gray-600">{tool.text}</p>
                  </a>
                </article>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
  </main>
</Layout>
