---
import RowDiscount from "../../components/RowDiscount.astro";
import RowTextImage from "../../components/RowTextImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Content Genius | Pricing">
  <main class="py-20">
    <article>
      <header class="mb-24 container xl:w-1/2 text-center">
        <h2
          class="text-white font-semibold text-4xl lg:text-6xl lg:leading-[1.1] mb-4"
        >
          Level up you copywriting skills
        </h2>
        <p class="text-xl mb-12 text-gray-400">
          Content Genious helps you to make professional copies for your
          audience. Create SEO-friendly blog posts, engaging email marketing
          campaigns, creative advertising texts, and more. Set your target
          audience then add a business description and limitations to be
          content-specific.
        </p>
        <a
          href="https://app.contentgenius.io/"
          class="inline-block bg-indigo-500 rounded-full text-white px-6 py-3 whitespace-nowrap font-medium"
          >Start free trial</a
        >
      </header>
      <section class="bg-gray-900">
        <div class="container py-12 space-y-8">
          <RowTextImage
            title="Write SEO-friendly blog posts"
            text="Create informative and keyword-rich blog posts with the help of our AI-powered content generation, driving more traffic and higher search engine rankings."
            ctaText="Rank higher"
            image={{
              alt: "Personal blogging assistatnt prompt",
              url: "/blog/ai-use-case-copywriting-1.png",
            }}
          />
          <RowTextImage
            imageFirst={true}
            title="Create email campaigns in minutes"
            text="Design compelling email campaigns with personalized subject lines and content, increasing open rates and driving higher conversions."
            ctaText="Start email campaign"
            image={{
              alt: "Social media assistant prompt",
              url: "/blog/ai-use-case-copywriting-2.png",
            }}
          />
          <RowTextImage
            title="Create catchy Ad copies"
            text="Generate persuasive and targeted ad copies with ease, maximizing your advertising efforts and driving better results and time saving. "
            ctaText="Create engaging Ad"
            image={{
              alt: "Personalized lerning assistant prompt",
              url: "/blog/ai-use-case-copywriting-3.png",
            }}
          />
        </div>
      </section>
      <RowDiscount />
    </article>
  </main>
</Layout>
