---
import RowTextImage from "../../components/RowTextImage.astro";
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import blog1Image from "../../assets/use-cases/copywriting-1.png";
import blog2Image from "../../assets/use-cases/copywriting-2.png";
import blog3Image from "../../assets/use-cases/copywriting-3.png";

export const frontmatter = {
  title: "Content Genius for copywriters",
};
---

<Layout title="Content Genius for copywriters">
  <main class="py-20">
    <article class="container">
      <header class="relative mb-24">
        <h1
          class="text-gray-900 font-semibold text-4xl lg:text-5xl lg:leading-[1.1] mb-4 max-w-[25ch]"
        >
          Level up your copywriting skills
        </h1>
        <p class="max-w-[65ch] text-lg lg:text-xl leading-8 mb-8 md:mb-12">
          Content Genious helps you to make professional copies for your
          audience. Create SEO-friendly blog posts, engaging email marketing
          campaigns, creative advertising texts, and more. Set your target
          audience then add a business description and limitations to be
          content-specific.
        </p>
        <a
          href="https://app.contentgenius.io/"
          class="inline-block bg-pink-500 rounded-full text-white px-6 py-3 whitespace-nowrap font-medium"
          >Start free trial</a
        >
        <div
          class="absolute -z-10 -top-24 -left-24 w-[18rem] h-[18rem] bg-gradient-to-tr from-fuchsia-50 to-white rounded-full"
        >
        </div>
        <div
          class="absolute -z-10 -bottom-0 right-0 w-[18rem] h-[18rem] bg-gradient-to-tr from-indigo-50 to-white rounded-full"
        >
        </div>
      </header>
      <section>
        <div class="container py-12 space-y-8">
          <RowTextImage
            title="Write SEO-friendly blog posts"
            text="Create informative and keyword-rich blog posts with the help of our AI-powered content generation, driving more traffic and higher search engine rankings."
            ctaText="Rank higher"
          >
            <Image
              loading="lazy"
              src={blog1Image}
              alt="Personal blogging assistatnt prompt"
            />
          </RowTextImage>
          <RowTextImage
            imageFirst={true}
            title="Create email campaigns in minutes"
            text="Design compelling email campaigns with personalized subject lines and content, increasing open rates and driving higher conversions."
            ctaText="Start email campaign"
          >
            <Image
              loading="lazy"
              src={blog2Image}
              alt="Social media assistant prompt"
            />
          </RowTextImage>
          <RowTextImage
            title="Create catchy Ad copies"
            text="Generate persuasive and targeted ad copies with ease, maximizing your advertising efforts and driving better results and time saving. "
            ctaText="Create engaging Ad"
          >
            <Image
              loading="lazy"
              src={blog3Image}
              alt="Personalized learning assistant prompt"
            />
          </RowTextImage>
        </div>
      </section>
    </article>
  </main>
</Layout>
