---
import RowDiscount from "../../components/RowDiscount.astro";
import RowTextImage from "../../components/RowTextImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Content Genius for marketers">
  <main class="py-20">
    <article class="container">
      <header class="relative mb-24">
        <h2
          class="text-gray-900 font-semibold text-4xl lg:text-5xl lg:leading-[1.1] mb-4 max-w-[25ch]"
        >
          Supercharge marketing campaigns
        </h2>
        <p class="max-w-[65ch] text-lg lg:text-xl leading-8 mb-8 md:mb-12">
          Content Genious can boost your marketing campaigns with powerful ideas
          generated based on your audience and product features. Let specialized
          assistants do your routine job.
        </p>
        <a
          href="https://app.contentgenius.io/"
          class="inline-block bg-pink-500 rounded-full text-white px-6 py-3 whitespace-nowrap font-medium"
          >Start free trial</a
        >
        <div
          class="absolute -z-10 -top-24 -left-24 w-[18rem] h-[18rem] bg-gradient-to-tr from-fuchsia-50 to-white rounded-full"
        >
        </div>
        <div
          class="absolute -z-10 -bottom-0 right-0 w-[18rem] h-[18rem] bg-gradient-to-tr from-indigo-50 to-white rounded-full"
        >
        </div>
      </header>
      <section>
        <div class="container py-12 space-y-8">
          <RowTextImage
            title="Content Creation & Optimization"
            text="Generate high-quality, engaging, and SEO-friendly content in no time. Say goodbye to writer’s block and hello to fresh, creative content that drives results."
            ctaText="Start generating"
            image={{
              alt: "Marketing content generation prompt",
              url: "/blog/ai-use-case-marketing-1.png",
            }}
          />
          <RowTextImage
            imageFirst={true}
            title="Audience Insights & Personalization"
            text="Unlock deep insights about your target audience based on your product description. Craft personalized messages and offers that resonate with your customers, boosting conversion rates and brand loyalty."
            ctaText="Get insights"
            image={{
              alt: "Audience research prompt",
              url: "/blog/ai-use-case-marketing-2.png",
            }}
          />
          <RowTextImage
            title="Social Media Management"
            text="Streamline your social media management with our AI-powered chatbot assistants. Write engaging posts, generate catchy titles, find performant hash tags, store insigth in notes."
            ctaText="Boost audience"
            image={{
              alt: "Social media management prompt",
              url: "/blog/ai-use-case-marketing-3.png",
            }}
          />
        </div>
      </section>
    </article>
  </main>
</Layout>
