---
import Layout from "../layouts/Layout.astro";

export const frontmatter = {
  title: "Not Found",
}
---

<Layout title="Not Found">
  <div class="py-20">
    <div class="content max-w-3xl mx-auto">
      <div class="text-gray-900 text-6xl font-semibold">Not found</div>
      <div class="text-lg">Sorry about that, but this page doesn't exist.</div>
      <div class="mt-12 text-gray-400">
        <a
          href="/"
          class="border border-gray-500 bg-gray-600 px-4 py-2 rounded font-medium hover:text-white"
          >&lt;- Back home</a
        >
      </div>
    </div>
  </div>
</Layout>
