---
import Banner from "../components/Banner.astro";
import ProductFace from "../components/ProductFace.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <article>
      <Banner />
      <ProductFace />
    </article>
  </main>
</Layout>
