---
import Layout from "../layouts/Layout.astro";
import RowBanner from "../components/RowBanner.astro";
import RowChat from "../components/RowChat.astro";
---

<Layout>
  <main>
    <article>
      <RowBanner />
      <RowChat />
    </article>
  </main>
</Layout>
