---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <article>
      <Banner />
      <div
        class="bg-gradient-radial-indigo bg-no-repeat bg-center from-brand-indigo to-graphite-900 pt-[160px] -mt-[180px] px-4 sm:px-6 lg:px-8"
      >
        <img
          src="content-genius-analytics-twitter.png"
          alt="Content Genius analytics twitter preview"
        />
      </div>
    </article>
    <footer>
      <div>
        <div class="flex items-center">
          <img src="/content-genius-logo-sm.svg" alt="Content Genius logo" />
          <span class="font-semibold">Content Genius</span>
        </div>
        <nav>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </nav>
      </div>
      <div>
        <p>
          © 2023 Content Genius by Neural Net Technologies. All right reserved.
        </p>
        <a href="#">E</a>
        <a href="#">T</a>
      </div>
    </footer>
  </main>
</Layout>
