---
import Layout from "../layouts/Layout.astro";
import ProductFace from "../components/ProductFace.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <main class="font-sans text-base leading-normal text-gray-800 z-0">
    <Banner />
    <div class="max-w-7xl mx-auto px-2 md:px-8 relative">
      <div
        class="absolute bg-brand-indigo inset-0 -z-10 mx-8 transform rotate-3 rounded-3xl"
      >
      </div>
      <div
        class="absolute bg-[#DF34BC] inset-0 -z-10 mx-8 transform -rotate-3 rounded-3xl"
      >
      </div>
      <ProductFace class="z-30 block relative" />
    </div>
  </main>
</Layout>
