---
import Layout from "../layouts/Layout.astro";
import RowBanner from "../components/RowBanner.astro";
import RowChat from "../components/RowChat.astro";
import RowNotes from "../components/RowNotes.astro";
---

<Layout>
  <main>
    <>
      <RowBanner />
      <RowChat />
      <RowNotes />
    </>
  </main>
</Layout>
