---
import Layout from "../layouts/Layout.astro";
import RowBanner from "../components/RowBanner.astro";
import RowChat from "../components/RowChat.astro";
import RowNotes from "../components/RowNotes.astro";
import RowFAQ from "../components/RowFAQ.astro";
import RowDiscount from "../components/RowDiscount.astro";
import RowReveiws from "../components/RowReveiws.astro";
import RowDelivery from "../components/RowDelivery.astro";
---

<Layout>
  <main>
    <RowBanner />
    <RowChat />
    <RowNotes />
    <!-- <RowDelivery /> -->
    <RowReveiws />
    <RowFAQ />
    <!-- <RowDiscount /> -->
  </main>
</Layout>
