---
import { map } from "astro/zod";
import Layout from "../layouts/Layout.astro";

const PRICING = [
  {
    id: 1,
    name: "Freelancer",
    price: 14,
    period: "/mo",
    description: "Ideal for independent creators",
    features: [
      "GPT 4",
      "50,000 Tokens (~66,500 Words)",
      "10 AI Assistants",
      "Unlimited Notes",
      "Support with low priority",
    ],
    cta: "Start Free",
    disabled: false,
    product_id: "77513",
    variants: {
      monthly: "80315",
      yearly: "80722",
    },
  },
  {
    id: 2,
    name: "Influencer",
    price: 28,
    period: "/mo",
    description: "Grow your brand and engage your audience",
    features: [
      "GPT-4",
      "200,000 Tokens (~266,000 Words)",
      "20 AI Assistants",
      "Unlimited Notes",
      "Support with high priority",
    ],
    cta: "Start Free",
    disabled: false,
    product_id: "77844",
    variants: {
      monthly: "80725",
      yearly: "80728",
    },
  },
  {
    id: 3,
    name: "Business",
    price: 99,
    period: "/mo",
    description: "Elevate your organization’s content strategy",
    features: [
      "GPT-4",
      "500,000 Tokens (~665,000 Words)",
      "Unlimited Assistants",
      "Unlimited Notes",
      "Support with highest priority",
    ],
    cta: "Start Free",
    disabled: false,
    product_id: "77846",
    variants: {
      monthly: "80729",
      yearly: "80731",
    },
  },
];
---

<Layout title="Content Genius | Pricing">
  <main class="py-20">
    <article class="container">
      <header class="text-center mb-20">
        <h2 class="text-white font-semibold text-3xl lg:text-5xl mb-6">
          Unleash Your <span class="text-pink-500">Content Genius</span>
        </h2>
        <div
          class="inline-flex items-center gap-3 itext-gray-200 border bg-gray-700 border-gray-500 rounded-full px-6 py-2"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="text-gray-450 fill-current"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 21.2132L1.98804 19.2252C1.38124 18.6762 1 17.8825 1 16.9998V9.99982V6.99982C1 5.34297 2.34315 3.99982 4 3.99982H17.2134L21.2132 0L22.6274 1.41421L1.41415 22.6274L0 21.2132ZM6.87011 19.9998H20C21.6569 19.9998 23 18.6567 23 16.9998V9.99982V6.99982C23 6.13836 22.6369 5.3617 22.0554 4.81455L20.6392 6.23074C20.8597 6.41417 21 6.69061 21 6.99982V8.99982H17.8701L15.8701 10.9998H21V16.9998C21 17.5521 20.5523 17.9998 20 17.9998H8.87011L6.87011 19.9998ZM3.40763 17.8056L10.2134 10.9998H3V16.9998C3 17.3304 3.16041 17.6235 3.40763 17.8056ZM12.2134 8.99982L15.2134 5.99982H4C3.44772 5.99982 3 6.44754 3 6.99982V8.99982H12.2134Z"
            ></path>
          </svg>
          <span>No card required</span>
        </div>
      </header>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 items-center"
      >
        {
          PRICING.map((tier) => (
            <div
              class={`py-8 px-8 rounded-xl ${
                tier.id === 2
                  ? "border-indigo-500 border-2 xl:py-14"
                  : "border-gray-700 border"
              }`}
            >
              <div class="mb-8 text-center">
                <h3 class="font-semibold text-xl text-pink-500 mb-2">
                  {tier.name}
                </h3>
                <p class="mb-8 text-white font-semibold">
                  <span class="text-2xl">
                    ${tier.price}
                    <span class="text-sm text-gray-400">/mo</span>
                  </span>
                </p>
              </div>
              <div class="text-center">
                <a
                  href="https://app.contentgenius.io/"
                  class={`block mb-2 text-white w-full py-3 rounded-md font-semibold ${
                    tier.id === 2 ? "bg-indigo-500 " : "bg-gray-700 "
                  }`}
                >
                  {tier.cta}
                </a>
              </div>
              <ul class="my-8 space-y-2 list-image-[url('./list-checkmark.svg')]">
                {tier.features.map((feature) => (
                  <li class="flex items-center gap-2">
                    <span class="flex-shrink-0">
                      <img src="/list-checkmark.svg" />
                    </span>
                    <span>{feature}</span>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </article>
  </main>
</Layout>
