<section
  role="banner"
  class="px-4 pt-12 pb-16 md:pt-[80px] md:pb-[64px] lg:pt-[160px] lg:pb-[128px]"
>
  <h1
    class="mb-2 md:mb-5 font-bold text-center bg-clip-text text-transparent bg-gradient-to-b from-white to-[#E7C7F3] text-6xl sm:text-7xl xl:text-8xl pb-4"
  >
    AI Powered<br />Publishing Platfrom
  </h1>
  <p
    class="text-[#D5B2E2] text-lg md:text-2xl max-w-[48ch] text-center mx-auto mb-10 md:mb-20"
  >
    Content Genius is an all-in-one modern platform for content creation and
    distribution.
  </p>

  <div
    class="relative bg-white bg-opacity-5 border border-graphite-400 border-opacity-10 mx-auto items-center max-w-[420px] rounded-full p-[6px]"
  >
    <form class="flex text-sm sm:text-base" id="js-form">
      <input
        id="js-form-email"
        type="email"
        placeholder="Enter your email"
        class="bg-transparent py-3 flex-1 px-3 md:px-6 focus:outline-none focus-visible:bg-transparent"
      />
      <button
        id="js-form-submit"
        class="bg-[#EED6FE] tracking-tigh rounded-full px-2 md:px-4 py-2 md:py-3 text-graphite-900 font-medium"
        >Join the waitlist</button
      >
    </form>
    <div id="js-success-message" class="py-3 text-center w-full hidden">
      You’re on the waitlist!
    </div>
    <p
      id="js-error-message"
      class="text-center w-full text-sm absolute top-[100%] mt-2"
    >
    </p>
  </div>
</section>

<script>
  import "../scripts/subscription.js";
</script>
