---
import Logo from "./Logo.astro";
import NewsletterSubcriptionForm from "./NewsletterSubcriptionForm";
---

<footer class="py-10 md:py-20 space-y-12 border-t border-gray-800">
  <div class="container grid grid-cols-3 xl:grid-cols-12 text-sm md:text-base">
    <div class="col-span-3 xl:col-span-4 space-y-4 md:col-span-6 mb-8">
      <Logo />
      <div class="space-y-3">
        <p class="text-sm">Content Genius - AI-Powered Content Creation.</p>
        <p class="text-sm">
          Streamline your content ideation process with our intelligent chat
          assistants, efficient note-taking features, and analytics for
          data-driven decisions. Transform the way you create and strategize
          content!
        </p>
      </div>
    </div>
    <div class="col-span-1 xl:col-start-7 xl:col-span-2">
      <div class="text-white py-1 mb-4 font-semibold md:text-lg">Resourses</div>
      <ul class="space-y-4">
        <li class="hover:text-white transition">
          <a href="/release-notes/">Release notes</a>
        </li>
        <li class="hover:text-white transition">
          <a href="/documentation/">Documentation</a>
        </li>
        <li class="hover:text-white transition">
          <a href="https://discord.gg/eHNtdrdk52">Join community</a>
        </li>
      </ul>
    </div>
    <div class="col-span-1 xl:col-span-2">
      <div class="text-white py-1 mb-4 font-semibold md:text-lg">Learn</div>
      <ul class="space-y-4">
        <li class="hover:text-white transition"><a href="/blog/">Blog</a></li>
        <li class="hover:text-white transition">
          <a href="/features/">Features</a>
        </li>
        <li class="hover:text-white transition">
          <a href="/pricing/">Pricing</a>
        </li>
        <!-- <li class="hover:text-white transition"><a href="/">Security</a></li>
        <li class="hover:text-white transition"><a href="/">Comparison</a></li> -->
      </ul>
    </div>
    <div class="col-span-1 xl:col-span-2">
      <div class="text-white py-1 mb-4 font-semibold md:text-lg">Company</div>
      <ul class="space-y-4">
        <li class="hover:text-white transition"><a href="/terms/">Terms</a></li>
        <li class="hover:text-white transition">
          <a href="/privacy/">Privacy</a>
        </li>
        <li class="hover:text-white transition">
          <a href="/contacts/">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div
      class="flex flex-col md:flex-row md:items-start justify-between bg-gray-700 px-8 md:px-12 pt-6 pb-12 md:py-8 rounded-md"
    >
      <div class="mb-4 md:mb-0">
        <div class="text-white text-lg">Subscribe for newsletter</div>
        <div>Latest news, features and blog updates.</div>
      </div>
      <NewsletterSubcriptionForm client:load />
    </div>
  </div>
  <div class="container text-center">
    <p>© 2023 Content Genius inc. All right reserved.</p>
  </div>
</footer>
