---
const dateStamp = new Date();
---

<footer class="px-6 py-12 text-center">
  <div class="mb-4">
    © {dateStamp.getFullYear()} Content Genius. All rights reserved.
  </div>
  <div class="space-x-4">
    <a href="/terms-of-service" class="text-brand-indigo hover:underline"
      >Terms of Usage</a
    >
    <a href="/privacy-policy" class="text-brand-indigo hover:underline"
      >Privacy Policy</a
    >
  </div>
</footer>
