---
import Logo from "./Logo.astro";
import NewsletterSubcriptionForm from "./NewsletterSubcriptionForm";
---

<footer class="py-10 md:py-20 space-y-12 border-t border-gray-800">
  <div class="container">
    <div class="grid gap-8 grid-cols-4 lg:grid-cols-4 xl:grid-cols-12">
      <div
        class="flex mb-12 pb-8 border-b border-gray-700 col-span-4 xl:pb-0 xl:border-0 xl:col-span-6"
      >
        <div class="md:w-1/2 xl:w-full xl:pr-12 max-w-md space-y-4">
          <Logo />
          <p class="text-sm">
            Get a better ChatGPT alternative. Made for marketers, copywriters,
            and any kind of professional using ChatGPT.
          </p>
        </div>
      </div>
      <div class="col-span-2 lg:col-span-1 xl:col-span-2">
        <div class="text-white py-1 mb-4 font-semibold">Learn</div>
        <ul class="space-y-3">
          <li class="hover:text-white transition"><a href="/blog/">Blog</a></li>
          <li class="hover:text-white transition">
            <a href="/pricing/">Pricing</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/refound/">Refound policy</a>
          </li>
          <!-- <li class="hover:text-white transition"><a href="/">Comparison</a></li> -->
        </ul>
      </div>
      <div class="col-span-2 lg:col-span-1 xl:col-span-2">
        <div class="text-white py-1 mb-4 font-semibold">Use cases</div>
        <ul class="space-y-3">
          <li class="hover:text-white transition">
            <a href="/use-cases/personal/">Peronal</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/use-cases/copywriting/">Copywriting</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/use-cases/marketing/">Marketing</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/use-cases/sales/">Sales</a>
          </li>
        </ul>
      </div>
      <div class="col-span-2 lg:col-span-1 xl:col-span-2">
        <div class="text-white py-1 mb-4 font-semibold">About</div>
        <ul class="space-y-3">
          <li class="hover:text-white transition">
            <a href="https://discord.gg/eHNtdrdk52">Community</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/terms/">Terms</a>
          </li>
          <li class="hover:text-white transition">
            <a href="/privacy/">Privacy</a>
          </li>
          <li class="hover:text-white transition">
            <a href="mailto:hq@contentgenius.io?subject=Feedback">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div
      class="flex flex-col md:flex-row md:items-start justify-between bg-gray-700 px-8 md:px-12 pt-6 pb-12 md:py-8 rounded-md"
    >
      <div class="mb-4 md:mb-0">
        <div class="text-white text-lg">Subscribe for newsletter</div>
        <div>Latest news, features and blog updates.</div>
      </div>
      <NewsletterSubcriptionForm client:load />
    </div>
  </div>
  <div class="container text-center">
    <p>© 2023 Content Genius inc. All right reserved.</p>
  </div>
</footer>
