---
import Logo from "./Logo.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro"
---

<header class="py-4">
  <div class="container flex items-center justify-between">
    <Logo isDark />
    <nav
      class="text-gray-450 flex-1 hidden lg:flex gap-8 font-medium justify-end mr-10"
      itemscope
      itemtype="https://schema.org/SiteNavigationElement"
    >
      <div class="group relative">
        <span
          class="cursor-pointer transition hover:text-gray-600 flex items-center gap-2"
          >Use cases <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6 7.22222L2.88889 4.11111L2 5L6 9L10 5L9.11111 4.11111L6 7.22222Z"
              fill="#BDBDBD"></path>
          </svg>
        </span>
        <div class="hidden group-hover:block pt-4 absolute top-6 left-0 z-50">
          <ul
            class="text-gray-400 px-2 py-2 rounded-xl overflow-hidden w-[240px] text-left bg-gray-800 shadow-lg shadow-gray-450 z-50"
          >
            <li itemprop="name">
              <a
                itemprop="url"
                class="px-3 py-2 hover:bg-gray-600 hover:text-gray-100 block transition rounded-md"
                href="/use-cases/personal/">Personal</a
              >
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                class="px-3 py-2 hover:bg-gray-600 hover:text-gray-100 block transition rounded-md"
                href="/use-cases/copywriting/">Copywriting</a
              >
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                class="px-3 py-2 hover:bg-gray-600 hover:text-gray-100 block transition rounded-md"
                href="/use-cases/marketing/">Marketing</a
              >
            </li>
            <li itemprop="name">
              <a
                itemprop="url"
                class="px-3 py-2 hover:bg-gray-600 hover:text-gray-100 block transition rounded-md"
                href="/use-cases/sales/">Sales</a
              >
            </li>
          </ul>
        </div>
      </div>
      <span class="transition" itemprop="name"
        ><a
          itemprop="url"
          class="hover:text-gray-600"
          href="/tools/">Tools</a
        ></span
      >
      <span class="transition" itemprop="name"
        ><a
          itemprop="url"
          class="hover:text-gray-600"
          href="/blog/">Blog</a
        ></span
      >
      <span class="transition" itemprop="name"
        ><a
          itemprop="url"
          class="hover:text-gray-600"
          href="/pricing/">Pricing</a
        ></span
      >
      
    <Breadcrumbs indexText="Content Genius" />
    </nav>
    <a
      href="https://app.contentgenius.io/"
      class="bg-pink-500 rounded-full text-white px-4 py-2 whitespace-nowrap font-medium"
      >Get Started</a
    >
  </div>
</header>
