<header class="wrapper flex justify-between items-center py-8">
  <div class="relative">
    <div class="flex items-center space-x-4">
      <img
        src="/content-genius-logo.svg"
        alt="Content Genius Logo"
        class="w-8"
      />
      <a href="/" class="font-semibold text-[20px] dark:text-gray-200">
        Content Genius
      </a>
    </div>
  </div>
  <div class="text-[18px] font-medium space-x-12 text-gray-500">
    <a href="https://twitter.com/contentgeniusio" class="text-brand-indigo"
      >Twitter</a
    >
  </div>
</header>
