---
import Logo from "./Logo.astro";
---

<header
  class="flex items-center justify-between py-4 px-4 md:px-6 xl:px-12 max-w-[1512px] mx-auto"
>
  <a href="/">
    <Logo />
  </a>
  <div>
    <a
      href="https://twitter.com/contentgeniusio"
      class="underline decoration-brand-pink decoration-2 decoration underline-offset-4"
      >Follow on Twitter</a
    >
  </div>
</header>
