---
import Logo from "./Logo.astro";
---

<header>
  <div class="container flex items-center justify-between py-6">
    <div class="flex gap-2 items-center md:w-1/5 whitespace-nowrap">
      <Logo />
    </div>
    <nav
      class="flex-1 text-center hidden lg:flex gap-8 justify-center font-semibold"
    >
      <a class="hover:text-white transition" href="/blog/">Blog</a>
      <div class="group relative">
        <span
          class="cursor-pointer hover:text-white transition flex items-center gap-2"
          >Use cases <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6 7.22222L2.88889 4.11111L2 5L6 9L10 5L9.11111 4.11111L6 7.22222Z"
              fill="#BDBDBD"></path>
          </svg>
        </span>
        <div class="hidden group-hover:block pt-4 absolute top-6 left-0">
          <ul
            class="px-2 py-2 rounded-xl overflow-hidden w-[240px] text-left bg-gray-800 shadow-black shadow-lg z-50"
          >
            <li>
              <a
                class="px-3 py-2 hover:bg-gray-600 block transition rounded-md"
                href="/use-cases/personal/">Personal</a
              >
            </li>
            <li>
              <a
                class="px-3 py-2 hover:bg-gray-600 block transition rounded-md"
                href="/use-cases/copywriting/">Copywriting</a
              >
            </li>
            <li>
              <a
                class="px-3 py-2 hover:bg-gray-600 block transition rounded-md"
                href="/use-cases/marketing/">Marketing</a
              >
            </li>
            <li>
              <a
                class="px-3 py-2 hover:bg-gray-600 block transition rounded-md"
                href="/use-cases/sales/">Sales</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <a class="hover:text-white transition" href="/blog/">Features</a> -->
      <a class="hover:text-white transition" href="/pricing/">Pricing</a>
    </nav>
    <div class="space-x-4 font-medium lg:w-1/5 text-right">
      <a
        href="https://app.contentgenius.io/"
        class="bg-indigo-500 rounded-full text-white px-5 py-2 whitespace-nowrap text-sm"
        >Get Started</a
      >
    </div>
  </div>
</header>
