<div class="flex justify-between py-8">
  <div class="relative">
    <span class="font-black text-[24px] text-gray-700">Content Genius</span>
  </div>
  <div class="text-[18px] font-medium space-x-12 text-gray-500">
    <a href="/" class="hover:text-gray-800">Product Hunt</a>
    <a href="/" class="hover:text-gray-800">Twitter</a>
    <a href="/" class="hover:text-gray-800">Discrod</a>
    <a href="/" class="hover:text-gray-800">Reddit</a>
  </div>
</div>
