---
import Logo from "./Logo.astro";
---

<header>
  <div class="container flex items-center justify-between py-6 text-white">
    <Logo />
    <div class="space-x-8 font-medium">
      <a href="/product">Product</a>
      <a href="/pricing">Pricing</a>
      <a href="/blog">Blog</a>
      <a href="/Roadmap">Roadmap</a>
    </div>
    <div class="space-x-4 font-medium">
      <a href="/">Log in</a>
      <a href="/" class="bg-indigo-500 rounded-full text-white px-4 py-2"
        >Sign up</a
      >
    </div>
  </div>
</header>
