---
const { isDark } = Astro.props;
---

<a href="/" class="flex items-center gap-3">
  <svg
    width="36"
    height="36"
    viewBox="0 0 504 504"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="252" cy="252.001" r="252" fill="#cd34f4"></circle>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M252.063 441.005C356.447 441.005 441.063 356.389 441.063 252.005H252.063L406.302 142.759C372.054 94.5044 315.739 63.0044 252.063 63.0044C147.678 63.0044 63.0625 147.62 63.0625 252.005C63.0625 356.389 147.678 441.005 252.063 441.005Z"
      fill="#63008a"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M367.477 251.994C367.477 188.215 315.766 136.494 251.977 136.494C188.187 136.494 136.477 188.215 136.477 251.994C136.477 315.774 188.187 367.494 251.977 367.494C287.845 367.494 319.888 351.15 341.073 325.494H251.977V251.994H367.477Z"
      fill="#D7009B"></path>
  </svg>
  <span
    class={`text-lg font-bold ${isDark ? "text-gray-900" : "text-gray-100"}`}
    >Content Genius</span
  >
</a>
