<a href="/" class="flex items-center gap-3">
  <svg
    width="36"
    height="36"
    viewBox="0 0 36 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="18" cy="18" r="18" fill="#C101F1"></circle>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18 31.5C25.4561 31.5 31.5 25.4561 31.5 18H18L29.0171 10.1968C26.5708 6.75 22.5483 4.5 18 4.5C10.5439 4.5 4.5 10.5439 4.5 18C4.5 25.4561 10.5439 31.5 18 31.5Z"
      fill="#7C00AC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M26.2578 17.9998C26.2578 13.4441 22.5642 9.74976 18.0078 9.74976C13.4514 9.74976 9.75781 13.4441 9.75781 17.9998C9.75781 22.5554 13.4514 26.2498 18.0078 26.2498C20.5698 26.2498 22.8586 25.0823 24.3718 23.2498H18.0078V17.9998H26.2578Z"
      fill="#D7009B"></path>
  </svg>
  <span class="text-white font-semibold text-lg tracking-tight"
    >Content Genius</span
  >
</a>
