<div>
  <div
    class="bg-gradient-radial-indigo bg-no-repeat bg-center from-brand-indigo to-graphite-900 pt-[60px] -mt-[80px] md:pt-[180px] md:-mt-[180px] px-4 sm:px-6 lg:px-8 max-w-[1512px] mx-auto"
  >
    <img
      src="content-genius-analytics-twitter.png"
      alt="Content Genius analytics twitter preview"
    />
  </div>
</div>
