<div>
  <div
    class="bg-gradient-radial-indigo bg-no-repeat bg-center from-brand-indigo to-graphite-900 pt-[160px] -mt-[180px] px-4 sm:px-6 lg:px-8"
  >
    <img
      src="content-genius-analytics-twitter.png"
      alt="Content Genius analytics twitter preview"
    />
  </div>
</div>
