<section role="banner">
  <div class="container px-4 py-20 lg:py-36 rounded-b-3xl">
    <!-- Title -->
    <h1
      class="mb-2 md:mb-5 font-bold text-center text-6xl lg:text-7xl pb-4 text-white tracking-tight"
    >
      Get a Better
      <span class="text-pink-500">ChatGPT</span><br /> experience
    </h1>
    <p class="text-lg md:text-xl max-w-[48ch] text-center mx-auto mb-16">
      Stop struggling with prompts, and start chatting with content-aware
      assistants that never lose the context. Keep your content within unlimited
      notes.
    </p>

    <div class="text-center mb-24">
      <a
        href="https://app.contentgenius.io/"
        id="js-form-submit"
        class="tracking-tigh rounded-full px-6 md:px-8 py-2 md:py-3 text-white bg-opacity-20 bg-[#311C32] border border-fuchsia-900 bg-gradient-radial-indigo bg-[center_top_1.5rem] bg-no-repeat"
        >Get Started <span class="opacity-50 text-fuchsia-300">It's Free</span>
      </a>
    </div>

    <!-- Image -->
    <img alt="Content Genius preview" src="./banner-composition.png" />

    <!-- Text -->
    <div class="text-center mt-24">
      <p class="font-medium text-xl lg:text-2xl text-white">
        Unleash your Content Genius
      </p>
      <p class="text-gray-400 lg:text-lg">No special skills required</p>
    </div>
  </div>
</section>
