---
import CustomersCounter from "./CustomersCounter";
const schema = JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "Review",
  itemReviewed: {
    "@type": "Organization",
    name: "Content Genius",
  },
  reviewRating: {
    "@type": "Rating",
    ratingValue: "5",
    bestRating: "5",
  },
  name: "Best AI Chat GPT content tool",
  author: {
    "@type": "Person",
    name: "Bob Smith",
  },
  publisher: {
    "@type": "Organization",
    name: "Content Genius",
  },
});
---

<section role="banner">
  <div class="container px-4 py-8 lg:py-24 rounded-b-3xl">
    <!-- Title -->
    <div class="relative">
      <p class="text-xl font-medium text-pink-600 mb-4 md:mb-8">
        Meet your team
      </p>
      <h1
        class="mb-2 text-4xl lg:text-5xl lg:leading-[120%] font-bold pb-4 text-gray-900 tracking-tight"
      >
        Multiply your talents with AI assistants
      </h1>
      <p class="max-w-[65ch] text-lg lg:text-xl leading-8 mb-8 md:mb-12">
        Expand your skill set with Content Genius. Over 140 customizable AI
        assistants are carefully designed to help you unlock your
        multidimensional potential.
      </p>
      <div class="mb-12 flex items-center md:items-top gap-2 text-lg">
        <a
          href="https://app.contentgenius.io/"
          class="inline-block bg-[#D7009B] text-fuchsia-50 px-6 py-3 md:px-8 md:py-4 font-medium rounded-full whitespace-nowrap"
          >Get started for free
        </a>
        <div class="md:ml-8 md:flex items-center gap-4">
          <svg
            width="120"
            height="24"
            viewBox="0 0 120 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.0975 1.89137C11.4597 1.13224 12.5403 1.13224 12.9025 1.89137L15.2224 6.75315C15.3682 7.05865 15.6587 7.26967 15.9943 7.31391L21.335 8.01792C22.1689 8.12784 22.5028 9.15552 21.8928 9.7346L17.9858 13.4434C17.7403 13.6764 17.6294 14.0178 17.691 14.3507L18.6719 19.6476C18.825 20.4746 17.9508 21.1098 17.2116 20.7085L12.477 18.1389C12.1795 17.9774 11.8205 17.9774 11.523 18.1389L6.78844 20.7085C6.04919 21.1098 5.175 20.4746 5.32814 19.6476L6.30897 14.3507C6.3706 14.0178 6.25966 13.6764 6.01416 13.4434L2.10723 9.7346C1.4972 9.15552 1.83111 8.12784 2.66501 8.01792L8.00573 7.31391C8.34134 7.26967 8.63178 7.05865 8.77756 6.75315L11.0975 1.89137Z"
              fill="#F5A623"></path>
            <path
              d="M35.0975 1.89137C35.4597 1.13224 36.5403 1.13224 36.9025 1.89137L39.2224 6.75315C39.3682 7.05865 39.6587 7.26967 39.9943 7.31391L45.335 8.01792C46.1689 8.12784 46.5028 9.15552 45.8928 9.7346L41.9858 13.4434C41.7403 13.6764 41.6294 14.0178 41.691 14.3507L42.6719 19.6476C42.825 20.4746 41.9508 21.1098 41.2116 20.7085L36.477 18.1389C36.1795 17.9774 35.8205 17.9774 35.523 18.1389L30.7884 20.7085C30.0492 21.1098 29.175 20.4746 29.3281 19.6476L30.309 14.3507C30.3706 14.0178 30.2597 13.6764 30.0142 13.4434L26.1072 9.7346C25.4972 9.15552 25.8311 8.12784 26.665 8.01792L32.0057 7.31391C32.3413 7.26967 32.6318 7.05865 32.7776 6.75315L35.0975 1.89137Z"
              fill="#F5A623"></path>
            <path
              d="M59.0975 1.89137C59.4597 1.13224 60.5403 1.13224 60.9025 1.89137L63.2224 6.75315C63.3682 7.05865 63.6587 7.26967 63.9943 7.31391L69.335 8.01792C70.1689 8.12784 70.5028 9.15552 69.8928 9.7346L65.9858 13.4434C65.7403 13.6764 65.6294 14.0178 65.691 14.3507L66.6719 19.6476C66.825 20.4746 65.9508 21.1098 65.2116 20.7085L60.477 18.1389C60.1795 17.9774 59.8205 17.9774 59.523 18.1389L54.7884 20.7085C54.0492 21.1098 53.175 20.4746 53.3281 19.6476L54.309 14.3507C54.3706 14.0178 54.2597 13.6764 54.0142 13.4434L50.1072 9.7346C49.4972 9.15552 49.8311 8.12784 50.665 8.01792L56.0057 7.31391C56.3413 7.26967 56.6318 7.05865 56.7776 6.75315L59.0975 1.89137Z"
              fill="#F5A623"></path>
            <path
              d="M83.0975 1.89137C83.4597 1.13224 84.5403 1.13224 84.9025 1.89137L87.2224 6.75315C87.3682 7.05865 87.6587 7.26967 87.9943 7.31391L93.335 8.01792C94.1689 8.12784 94.5028 9.15552 93.8928 9.7346L89.9858 13.4434C89.7403 13.6764 89.6294 14.0178 89.691 14.3507L90.6719 19.6476C90.825 20.4746 89.9508 21.1098 89.2116 20.7085L84.477 18.1389C84.1795 17.9774 83.8205 17.9774 83.523 18.1389L78.7884 20.7085C78.0492 21.1098 77.175 20.4746 77.3281 19.6476L78.309 14.3507C78.3706 14.0178 78.2597 13.6764 78.0142 13.4434L74.1072 9.7346C73.4972 9.15552 73.8311 8.12784 74.665 8.01792L80.0057 7.31391C80.3413 7.26967 80.6318 7.05865 80.7776 6.75315L83.0975 1.89137Z"
              fill="#F5A623"></path>
            <path
              d="M107.097 1.89137C107.46 1.13224 108.54 1.13224 108.903 1.89137L111.222 6.75315C111.368 7.05865 111.659 7.26967 111.994 7.31391L117.335 8.01792C118.169 8.12784 118.503 9.15552 117.893 9.7346L113.986 13.4434C113.74 13.6764 113.629 14.0178 113.691 14.3507L114.672 19.6476C114.825 20.4746 113.951 21.1098 113.212 20.7085L108.477 18.1389C108.18 17.9774 107.82 17.9774 107.523 18.1389L102.788 20.7085C102.049 21.1098 101.175 20.4746 101.328 19.6476L102.309 14.3507C102.371 14.0178 102.26 13.6764 102.014 13.4434L98.1072 9.7346C97.4972 9.15552 97.8311 8.12784 98.665 8.01792L104.006 7.31391C104.341 7.26967 104.632 7.05865 104.778 6.75315L107.097 1.89137Z"
              fill="#F5A623"></path>
          </svg>
          <div class="font-medium text-gray-600 text-sm md:text-lg">
            <CustomersCounter client:load />
            <script type="application/ld+json" set:html={schema}></script>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-8 md:-mx-8 lg:-mx-12">
      <img
        alt="Content Genius preview"
        src="./main-2.png"
        class="border rounded-lg md:rouded-xl lg:rounded-2xl"
      />
    </div>
  </div>
</section>
