---
import SystemPromptForm from "./SystemPromptForm";
---

<section>
  <div class="py-20 bg-gray-900">
    <div class="container text-center mb-24">
      <div class="font-medium text-xl lg:text-3xl text-pink-500 mb-10">
        GPT Chat
      </div>
      <h2 class="mb-4 font-bold text-5xl lg:text-6xl text-white">
        100+ Assistants and Prompts
      </h2>
      <p class="text-lg lg:text-xl mb-24 max-w-[760px] mx-auto">
        Meet you team of perfectly shaped AI assistants. Don't loose the context
        of conversations anymore.
      </p>
      <div class="relative max-w-[1280px] px-8 md:px-16 mx-auto">
        <img
          src="./chat-composition_1.png"
          alt="Content Genius chat screenshot"
        />
        <img
          class="hidden lg:block w-48 absolute top-12 right-6 shadow-xl"
          src="./chat-composition_3.png"
          alt="Content Genius menu screenshot"
        />
      </div>
    </div>
    <div class="container text-center">
      <h3 class="mb-4 font-semibold text-3xl lg:text-5xl text-white">
        Personalize your experience
      </h3>
      <p class="lg:text-lg max-w-[760px] mx-auto">
        Create your assistants or tune-up existing for your personal needs
        in&nbsp;seconds with a&nbsp;simple form.
      </p>
    </div>
    <div class="mt-16">
      <div class="container mt-10">
        <div class="max-w-[976px] mx-auto px-8">
          <SystemPromptForm client:load />
        </div>
      </div>
    </div>
  </div>
</section>
