---
import SystemPromptForm from "./SystemPromptForm";
---

<section>
  <div class="py-10 lg:py-20 bg-gray-900">
    <div class="container mb-20 lg:mb-40">
      <div class="font-semibold text-xl lg:text-2xl text-pink-500 mb-8">
        GPT Chat
      </div>
      <h2 class="mb-4 font-bold text-5xl lg:text-6xl text-white">
        Meet your AI team
      </h2>
      <p class="text-xl lg:text-2xl mb-12 max-w-2xl">
        Chat with robots made for humans. Create you personal team of
        assistatns, use included collection of assistants, boost your
        productivity.
      </p>
      <div>
        <div
          class="mb-8 shadow-2xl rounded-md overflow-hidden border border-gray-600"
        >
          <img src="./gptchat_ui.png" alt="Content Genius chat screenshot" />
        </div>
      </div>
    </div>
    <div class="container text-center">
      <h3 class="mb-4 font-semibold text-4xl lg:text-5xl text-white">
        Personalize your experience
      </h3>
      <p class="text-lg lg:text-xl max-w-6xl mx-auto">
        Create your assistants or tune-up existing for your personal needs
        in&nbsp;seconds.
      </p>
    </div>
    <div class="border border-transparent pt-12">
      <div class="container max-w-4xl mx-auto">
        <div class="px-">
          <div>
            <SystemPromptForm client:load />
          </div>
          <!-- <div class="flex gap-4 py-12 lg:text-center">
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                120+
              </div>
              <div class="lg:text-lg leading-tight font-medium">Assistatns</div>
            </div>
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                560+
              </div>
              <div class="lg:text-lg leading-tight font-medium">Prompts</div>
            </div>
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                ∞
              </div>
              <div class="lg:text-lg leading-tight font-medium">
                Unlimited usecases
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
