---
import SystemPromptForm from "./SystemPromptForm";
---

<section>
  <div class="py-10 lg:py-20 bg-gray-900">
    <div class="container mb-20 lg:mb-32">
      <div class="font-semibold text-xl lg:text-2xl text-pink-500 mb-8">
        GPT Chat
      </div>
      <h2 class="mb-4 font-bold text-5xl lg:text-6xl text-white">
        Meet your AI team
      </h2>
      <p class="text-xl lg:text-2xl mb-12 max-w-3xl">
        Chat with robots made for humans. Stay inspired and productive, and
        access your history across your devices.
      </p>
      <div>
        <div class="mb-8 shadow-2xl rounded-md overflow-hidden">
          <img src="./gptchat_ui.png" alt="Content Genius chat screenshot" />
        </div>
        <div
          class="flex flex-col gap-6 py-4 lg:py-10 lg:flex-row lg:px-12 lg:gap-12"
        >
          <section>
            <h4 class="mb-2 font-medium text-indigo-400 text-xl">
              Contex-aware
            </h4>
            <p>
              AI Chat Assistants are designed to maintain the context of your
              conversations.
            </p>
          </section>
          <section>
            <h4 class="mb-2 font-medium text-indigo-400 text-xl">
              Anywhere access
            </h4>
            <p>
              Create content on-the-go with web based application. Optimized for
              mobiles.
            </p>
          </section>
          <section>
            <h4 class="mb-2 font-medium text-indigo-400 text-xl">
              Fast and Secure
            </h4>
            <p>
              that keeps your content and data secure, protected by the latest
              encryption technology.
            </p>
          </section>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <h3 class="mb-4 font-semibold text-4xl lg:text-5xl text-white">
        Personalize your experience
      </h3>
      <p class="text-lg lg:text-xl max-w-6xl mx-auto">
        Create your assistants or tune-up existing for your personal needs
        in&nbsp;seconds.
      </p>
    </div>
    <div class="border border-transparent pt-12">
      <div class="container max-w-4xl mx-auto">
        <div class="px-8">
          <div class="">
            <SystemPromptForm client:load />
          </div>
          <div class="flex gap-4 py-12 lg:text-center">
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                120+
              </div>
              <div class="lg:text-lg leading-tight font-medium">Assistatns</div>
            </div>
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                560+
              </div>
              <div class="lg:text-lg leading-tight font-medium">Prompts</div>
            </div>
            <div class="flex-1">
              <div class="font-medium text-4xl lg:text-5xl mb-2 text-white">
                ∞
              </div>
              <div class="lg:text-lg leading-tight font-medium">
                Unlimited usecases
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
