<div>
  <div class="py-20 bg-gray-900">
    <div class="container text-center">
      <div class="font-medium text-xl lg:text-3xl text-pink-500 mb-10">
        Early adopters rejoice
      </div>
      <h2 class="mb-4 font-bold text-5xl lg:text-6xl text-white">
        Limited offer -30%
      </h2>
      <p class="text-lg lg:text-xl mb-12 max-w-[760px] mx-auto">
        To celebrate the product launch we give you 30% off. <br />
        The offer is valid till the end of June, 2023.
      </p>
      <div class="text-center">
        <a
          href="https://app.contentgenius.io/"
          class="font-semibold bg-indigo-500 rounded-full text-white px-6 py-4"
          >Start free trial</a
        >
      </div>
    </div>
  </div>
</div>
