---
import TabContent from "./NotesTabContent.jsx";
import NotesTabs from "./NotesTabs.jsx";
---

<section class="py-10 lg:py-20 bg-gray-150 text-gray-450">
  <div class="container">
    <div class="font-semibold text-xl lg:text-2xl text-pink-500 mb-8">
      Notes
    </div>
    <h2 <h2 class="mb-4 font-bold text-5xl lg:text-6xl text-gray-900">
      Keep ideas with notes
    </h2>
    <p class="text-xl font-medium lg:text-2xl mb-12 max-w-3xl">
      Save insights from the chat to your notes for future reference and
      publishing. Use notes to polish you content, conduct a research, or
      organize messages by topics.
    </p>
  </div>
  <div class="container">
    <div class="">
      <NotesTabs client:load TabComponent={TabContent} />
    </div>
  </div>
  <div class="container py-10 lg:py-20">
    <div class="text-center mb-10 lg:mb-20">
      <h3
        class="mb-4 font-bold text-3xl lg:text-5xl text-gray-900 tracking-tight"
      >
        Supercharge your productivity
      </h3>
      <p>* Not awailable in alpha, follow release notes.</p>
    </div>
    <div
      class="max-w-[1080px] mx-auto grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-12 auto-rows-fr"
    >
      <div class="space-y-2">
        <img src="./refresh.svg" alt="Rephrase" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Rephrase.
          </h4>Reframe your ideas in new and creative ways with our AI-powered
          rephrasing tool.
        </div>
      </div>
      <div class="space-y-2">
        <img src="./tone.svg" alt="ChangeTone" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Change tone.
          </h4>Instantly adjust the tone of your notes to match your brand voice
          or target audience.
        </div>
      </div>
      <div class="space-y-2">
        <img src="./languages.svg" alt="Translate" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Translate.
          </h4>Break down language barriers and communicate with a global
          audience with our translation feature.
        </div>
      </div>
      <div class="space-y-2">
        <img src="./check-circle.svg" alt="Correct" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Correct.
          </h4>Ensure your notes are error-free with our AI-powered correction
          tool.
        </div>
      </div>
      <div class="space-y-2">
        <img src="./clipboard.svg" alt="Summarization" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Summarization.
          </h4>Use AI to create brief summaries of your notes, making it easier
          to recall important information.
        </div>
      </div>
      <div class="space-y-2">
        <img src="./lightbulb.svg" alt="Suggestions" />
        <div>
          <h4 class="font-bold text-gray-900 inline-block pr-1">
            Suggestions.
          </h4>Let AI to suggest content ideas based on your notes and other
          relevant information.
        </div>
      </div>
    </div>
  </div>
</section>
