---
import "../assets/index.pcss";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/content-genius-logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Content Genius is AI Powered Publishing Platform. That helps you create content faster and smarter and publish it on multiple platforms."
    />
    <title>Content Genius</title>
  </head>
  <body
    class="bg-graphite-900 text-white font-sans px-6 xl:px-12 max-w-[1512px] mx-auto"
  >
    <Header />
    <slot />
  </body>
</html>
