---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-graphite-900 text-white font-sans">
    <Header />
    <div class="wrapper text-content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
