---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

const { title, supportText } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="font-sans text-zinc-600 antialiased">
    <Header />
    <article class="container py-20 text-content">
      <header>
        <h1 class="mb-4 text-zinc-900 text-3xl xl:text-6xl font-bold">
          {title}
        </h1>
        <p>{supportText}</p>
      </header>
      <div class="mt-8 pt-8 border-t border-gray-500">
        <slot />
      </div>
    </article>
    <Footer />
  </body>
</html>
